.App {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}


.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}
.App-header button {
  font-size: 24px;
  margin: 10px;

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  padding: 50px;
}
