/*
  Block links are css arrows.
  To make maths easy, in JS, 0 degrees represents the arrow coming from the right: <-----
  In CSS, this is to make the CSS transformations be able to scale the line but not the arrowhead.

  Once drawn, they can just be manipulated with transforms.
*/
.Arrow {
  position: absolute;
  opacity: 0.4;
  transition: all 0.2s;
}
.Arrow__line {
  display: block;
  position: absolute;
  top: -2px;
  transform-origin: top left;

  width: 100px;
  height: 4px; /* This border is to make it easier to highlight */

  background: #222233;
}

.Arrow__head {
  display: block;
  position: absolute;
  top: -4px;

  width: 20px;
  height: 8px;

  background: #222233;
}
