/*
  Block links are css arrows.
  To make maths easy, in JS, 0 degrees represents the arrow coming from the right: <-----
  In CSS, this is to make the CSS transformations be able to scale the line but not the arrowhead.

  Once drawn, they can just be manipulated with transforms.
*/
.Arrow {
  position: absolute;
  // z-index: 5;
}
.Arrow__line {
  display: block;
  position: absolute;
  top: -1px;
  transform-origin: top left;

  width: 100px;
  height: 2px;

  background: #222233;
  z-index: 4;
}

.Arrow__head {
  display: block;
  position: absolute;
  top: -2px;

  width: 20px;
  height: 4px;

  background: #222233;
  z-index: 4;
}

.Block:hover {
  background: blue;
  z-index: 15;
}
.Block__body:hover ~ .Block__arrows {
  z-index: 12;
}
.Block__body:hover ~ .Block__arrows .Arrow__line,
.Block__body:hover ~ .Block__arrows .Arrow__head {
  background: rgb(0,128,255);
   box-shadow: 0 0 1px 0px rgba(0,128,255, 0.8);
}
