.DagDisplay {
  outline: 1px solid green;
  height: 400px;
  padding: 25px;
}
.DagDisplay__body {
  position: relative;
  outline: 1px solid orange;
}

.DagDisplay__Block {
  position: relative;
  z-index: 15;
}
.DagDisplay__arrowGroup {
  position: relative;
  z-index: 5;
}
.DagDisplay__Block:hover + .DagDisplay__arrowGroup,
.DagDisplay__arrowGroup:hover  {
  z-index: 10;
}
.DagDisplay__Block:hover + .DagDisplay__arrowGroup .Arrow,
.DagDisplay__arrowGroup:hover .Arrow {
  opacity: 1;
}

.DagDisplay__Block:hover + .DagDisplay__arrowGroup .Arrow__line,
.DagDisplay__Block:hover + .DagDisplay__arrowGroup .Arrow__head,
.DagDisplay__arrowGroup:hover .Arrow__line,
.DagDisplay__arrowGroup:hover .Arrow__head {
  background: rgb(0,128,255);
  box-shadow: 0 0 1px 0 rgba(0,128,255, 0.3);
}
